@model IEnumerable<HpTuningInc.Models.MaintenanceDetail>
@{
    ViewBag.Title = "carHistory";
}

<h2>CarHistory</h2>

<p>
    @using (Html.BeginForm())
    {
    <p>
        Search: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
    }
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OutDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaintenanceText)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Vin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OutDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaintenanceText)
                </td>
            </tr>
        }

    </table>